* {
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}


.nav {
    background-color: rgb(176, 240, 74);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
    margin-left: 15px;
    /* margin-right: 15px; */
}

.menu a {
    color: black;
    margin: 5px;
}  

h1 {
    color: hotpink;
}

p {
    color: rgb(223, 161, 171);
}

a {
    text-decoration: none;
    color: blueviolet;
}

.box {
    height: 100px;
    width: 100px    ;
    background-color: rgb(21, 228, 21);
    box-shadow: 5px 10px 5px rgb(3, 117, 37);
}

button {
    display: flex;
    justify-content: center;
}